-
  const defaultOptionsBlockPrice = {
    img: '',
    name: '',
    text: '',
    label: '',
    labelColor: 'yellow',
  };

mixin blockPrice(options)
  - options = Object.assign({}, defaultOptionsBlockPrice, options);

  .block-price
    .block-price__img 
      img(src=emptyImg data-src=options.img alt=options.name).lazyload

    .block-price__name.h5= options.name 

    .row 
      .col-sm-6.col-md-12.col-lg-6.mb-3.mb-sm-0.mb-md-3.mb-lg-0
        +btn({
          name: 'Подробнее',
          size: 'medium',
          color: 'red',
          href: options.href,
        })(class="w-100 fancybox")

      .col-sm-6.col-md-12.col-lg-6 
        +btn({
          name: 'Узнать цену',
          size: 'medium',
          color: 'red-transparent',
          href: '#popup-form',
        })(class="w-100 fancybox")

    if options.label
    .block-price__label(class=`block-price__label--color-${options.labelColor}`)= options.label
