-
  const itemsStatsOneDisplay = [
    {
      name: 'Отчет всегда готов',
      img: require('@img/ico-5.svg'),
      text: 'Никто не опоздает со сроками сдачи. Все данные подгружаются автоматически и доступны по клику',
    },
    {
      name: 'Наблюдать за бизнесом можно из любой точки',
      img: require('@img/ico-5.svg'),
      text: 'Командировка, отпуск, поездка за город — все данные доступны',
    },
    {
      name: 'Всегда точные данные',
      img: require('@img/ico-5.svg'),
      text: 'Данные будут поступать в дашборд автоматически, исключая человеческий фактор — манипуляция показателями, ошибки в формулах и пр.',
    },
  ];

section.stats-one-display#stats-one-display 
  .container 
    .row.mb-5.mb-xl-0
      .col-xl-7.mb-4.mb-xl-0
        h2.mb-4 Все показатели бизнеса – на одном экране

        p
          | Вы получите аналитическую систему, которая объединит в себе данные из всех
          | ваших рабочих сервисов: 1С, CRM, ERP, рекламные кабинеты, файлы Excel, Мой Склад и пр.

        p 
          | Все данные, полученные системой, преобразятся в удобный для восприятия
          | дашборд (страница с графиками и диаграммами).

      .col-xl-5 
        .stats-one-display__img
          img(src=emptyImg data-src=require('@img/stats-one-display.webp'), alt="stats-one-display").lazyload

    .stats-one-display__advantages
      h4 Это даст Вам следующие преимущества:

      .row.mb-5
        each val, index in itemsStatsOneDisplay
          .col-lg-4.mb-lg-0(
            class=(index + 1 === itemsStatsOneDisplay.length) ? 'mb-0' : 'mb-3'
          )
            +blockIcon({
              name: val.name,
              img: val.img,
              text: val.text,
            })

      h4.mb-3 Посмотрите пример отчета, который вы можете получить

      p.mb-4 Перед Вами пример отчета, собранный для демонстрации возможностей. Попробуйте повзаимодействовать с ним: изменить дату, переключиться между отчетами и пр.

      #iframe.iframe
        iframe(
          src="https://app.powerbi.com/view?r=eyJrIjoiNTJiY2RiMDctZGU4ZC00NWJjLWFmNmYtODA2YjQ0NzQzYjhhIiwidCI6ImJmZTBlOTc2LTgyNGEtNGEyMS1hNzU4LTNmYzc2ZTQ0Y2Y2ZSIsImMiOjl9"
          frameborder="0"
          allowfullscreen
        )
