-
  const defaultOptions = {
    name: '',
    size: 'medium',
    color: 'red',
    href: '#',
  };

mixin btn(options)
  - options = Object.assign({}, defaultOptions, options);
  - const classCss = `btn--size-${options.size} btn--color-${options.color}`;

  if options.href.length > 0
    a.btn(
      href= options.href,
      class= classCss
    )&attributes(attributes)
      = options.name

  else
    button.btn(
      class= classCss
    )&attributes(attributes)
      = options.name
