-
  const defaultOptionsBlockReport = {
    titleList: '',
    list : [],
    titleImg: '',
    imgList: [],
  };

mixin blockReport(options)
  - options = Object.assign({}, defaultOptionsBlockReport, options);

  .block-report
    .row 
      .col-lg-5.mb-3.mb-lg-0
        .block-report__title.h5= options.titleList

        ul.block-report__list
          each val in options.list
            li
              span= val

        +btn({
          name: 'Запрос цены',
          size: 'medium',
          color: 'red',
          href: '#popup-form',
        })(class="fancybox")

      .col-lg-7 
        .block-report__title.h5= options.titleImg

        .row
          each val in options.imgList
            .col-sm-6.mb-3 
              .block-report__img
                img(src=emptyImg data-src=val, alt="report").lazyload
