-
  const defaultOptionsCheckPrivacyPolicy = {
    name: 'check-privacy-policy',
    value: 'true',
    text: 'Ввод номера телефона подтверждает ваше согласие с <a href="#">Политикой конфиденциальности</a>',
  };

mixin checkPrivacyPolicy(options)
  - options = Object.assign({}, defaultOptionsCheckPrivacyPolicy, options);

  label.check-privacy-policy
    input(
      type="checkbox"
      name=options.name
      value=options.value
      checked=true
    )

    div
      span!= options.text