-
  const defaultOptionsBlockImage = {
    img: '',
    name: '',
    text: '',
  };

mixin blockImage(options)
  - options = Object.assign({}, defaultOptionsBlockImage, options);

  .block-image
    .block-image__img 
      img(src=emptyImg data-src=options.img, alt=options.name).lazyload

    .block-image__text
      .block-image__name.h5= options.name 

      .size-2= options.text
