-
  const defaultOptionsBlockImage = {
    img: '',
    name: '',
    text: '',
    href: '',
  };

mixin blockImage(options)
  - options = Object.assign({}, defaultOptionsBlockImage, options);

  .block-image.flex-height-fix
    .block-image__img 
      img(src=emptyImg data-src=options.img, alt=options.name).lazyload

    .block-image__text
      .block-image__name.h5= options.name 

      .size-2= options.text

      if options.href.length > 0
        +btn({
          name: 'Подробнее',
          href: "#popup-text",
        })(class="block-image__btn fancybox")
